
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-image: url("../img/bg01.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#hero{
    border: 2px solid tomato; 
    height: 91vh;
}

#iddd{
    margin-right: 7rem;
    margin-left: 7rem;
    background-image: url(../../images/imageTest/book3.png);
    height: 23rem;
    background-size: cover;
    background-position: center;
    width: auto;
    /* border: 2px solid tomato;  */
    height: 88.7vh;
}

#appointementBtn{
    background-color:aquamarine;
}