
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-image: url("../img/bg01.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#hero{
    /* border: 2px solid tomato;  */
    height: 88.7vh;
}

#appointementBtn{
    background-color:aquamarine;
}